* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #fff;
  display: flex;
  background-color: #3e423a;
}

.display-container {
  margin: auto;
  display: flex;
}

.note-display {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  margin: 0 25px;
}

.circle__progress {
  fill: none;
  stroke-width: 3;
  stroke-opacity: 0.3;
  stroke-linecap: round;
}

.note-display:nth-child(1) .circle__progress {
  stroke: #aaff00;
}
.note-display:nth-child(2) .circle__progress {
  stroke: #ff00aa;
}
.note-display:nth-child(3) .circle__progress {
  stroke: #aa00ff;
}
.note-display:nth-child(4) .circle__progress {
  stroke: #00aaff;
}

.circle {
  position: relative;
}

.percent {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  transform: translate(-50%, -50%);
}

.percent__int {
  font-size: 28px;
}
.percent__dec {
  font-size: 12px;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 15px;
}

.circle__progress--fill {
  --initialStroke: 0;
  --transitionDuration: 0;
  stroke-opacity: 1;
  stroke-dasharray: var(--initialStroke);
  stroke-dashoffset: var(--initialStroke);
  transition: stroke-dashoffset var(--transitionDuration) ease;
}

.circle__svg {
  transform: rotate(-90deg);
}
