@import './a.css';

body {
  background-color: red;
  /* transform: rotate(45deg); */
 
}

div {
  width: 300px;
  height: 600px;
  background: url('./assets/images/5gn.png') no-repeat;
  background-size: 100% auto;
}